@page "/friends"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using chat_app.Models
@using chat_app.Data
@implements IAsyncDisposable
@inject IDbContextFactory<chat_app.Data.chat_appContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="friends/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Friend">
    <PropertyColumn Property="friend => friend.Accepted" />

    <TemplateColumn Context="friend">
        <a href="@($"friends/edit?user1id={friend.User1Id}")">Edit</a> |
        <a href="@($"friends/details?user1id={friend.User1Id}")">Details</a> |
        <a href="@($"friends/delete?user1id={friend.User1Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private chat_appContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
