@page "/groups/delete"
@using Microsoft.EntityFrameworkCore
@using chat_app.Models
@inject IDbContextFactory<chat_app.Data.chat_appContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Group</h2>
    <hr />
    @if (group is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@group.Name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@group.Description</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">OwnerId</dt>
            <dd class="col-sm-10">@group.OwnerId</dd>
        </dl>
        <EditForm method="post" Model="group" OnValidSubmit="DeleteGroup" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(group is null)">Delete</button> |
            <a href="/groups">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Group? group;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        group = await context.Group.FirstOrDefaultAsync(m => m.Id == Id);

        if (group is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteGroup()
    {
        using var context = DbFactory.CreateDbContext();
        context.Group.Remove(group!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/groups");
    }
}
