@page "/groups"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using chat_app.Models
@using chat_app.Data
@implements IAsyncDisposable
@inject IDbContextFactory<chat_app.Data.chat_appContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="groups/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Group">
    <PropertyColumn Property="group => group.Name" />
    <PropertyColumn Property="group => group.Description" />
    <PropertyColumn Property="group => group.OwnerId" />

    <TemplateColumn Context="group">
        <a href="@($"groups/edit?id={group.Id}")">Edit</a> |
        <a href="@($"groups/details?id={group.Id}")">Details</a> |
        <a href="@($"groups/delete?id={group.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private chat_appContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
