@page "/groupmessages"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using chat_app.Models
@using chat_app.Data
@implements IAsyncDisposable
@inject IDbContextFactory<chat_app.Data.chat_appContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="groupmessages/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.GroupMessage">
    <PropertyColumn Property="groupmessage => groupmessage.Message" />

    <TemplateColumn Context="groupmessage">
        <a href="@($"groupmessages/edit?id={groupmessage.Id}")">Edit</a> |
        <a href="@($"groupmessages/details?id={groupmessage.Id}")">Details</a> |
        <a href="@($"groupmessages/delete?id={groupmessage.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private chat_appContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
